@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

:root {
  --color-pink: #FF00F50D;
  --color-blue: #000AFF;
  --color-green: #65FF8E;
  --interval-height: 50px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Manrope', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

